$black-text-color: #23272A;
$blue-text-color: #5865f2;

$black-button-color: #23272A;
$light-black-button-color: #313338;

$blue-button-color: #5865f2;
$light-blue-button-color: #7983F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}